<html>

<head>
    <!-- 用来禁止浏览器缓存，使得每次请求test.html都从服务器下载最新版本 -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <!-- 标识html使用UTF-8编码 -->
    <meta charset="utf-8">
    <!-- 让viewport的宽度等于物理设备上的真实分辨率，不允许用户缩放 -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- 在引入sprite框架前引入require -->
    <script src="lib/require.js"></script>
    <!-- sprite框架 -->
    <script src="sprite/sprite.js"></script>
    <!-- 项目css文件 -->
    <link rel="stylesheet" href="public/css/style.css">
</head>

<body>
    <div id="selectrole">
        <router-view></router-view>
    </div>
    <div id="app">
        <div class="mainContent">
            <keep-alive>
                <router-view v-if="$route.meta.keepAlive"></router-view>
            </keep-alive>
            <router-view v-if="!$route.meta.keepAlive"></router-view>
        </div>
    </div>
</body>

</html>