body {
    margin: 0;
    background-color: #F9F9F9;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

body .main__content {
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    -webkit-flex-flow: column;
    margin-top: 45px;
}

body .main {
    margin-top: 60px;
    height: 100%;
    width: 100%;
    display: block;
    -webkit-display: block;
    flex-direction: column;
    -webkit-flex-direction: column;
}

#selectrole{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: auto;
}

#app{
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}